@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Outfit:wght@400;600;700;800&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', sans-serif;
    --font-serif: 'Outfit', sans-serif;

    --color-amber-50: #faf9f7;
    --color-amber-100: #f4f3ef;
    --color-amber-200: #eae8e2;
    --color-amber-300: #e4e2dd;
    --color-amber-400: #e4e2dd;
    --color-amber-500: #e4e2dd;
    --color-amber-600: #cfcdb8;
    --color-amber-700: #b2b09a;
    --color-amber-800: #8c8a77;
    --color-amber-900: #646255;
    --color-amber-950: #3a3831;

    --color-dark-950: #161614;
    --color-dark-900: #1c1c19;
    --color-dark-850: #20201d;
    --color-dark-800: #262622;
    --color-dark-700: #2f2f2a;
    --color-dark-600: #3f3f39;

    --color-zinc-950: #161614;
    --color-zinc-900: #1c1c19;
    --color-zinc-850: #20201d;
    --color-zinc-800: #262622;
    --color-zinc-750: #2c2c27;
    --color-zinc-700: #35352f;
}

html, body {
    background-color: #161614 !important;
}

body {
    font-family: 'Instrument Sans', sans-serif;
}

[x-cloak] {
    display: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

