@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-amber-50: #faf9f7;
    --color-amber-100: #f4f3ef;
    --color-amber-200: #eae8e2;
    --color-amber-300: #e4e2dd;
    --color-amber-400: #e4e2dd;
    --color-amber-500: #e4e2dd;
    --color-amber-600: #cfcdb8;
    --color-amber-700: #b2b09a;
    --color-amber-800: #8c8a77;
    --color-amber-900: #646255;
    --color-amber-950: #3a3831;
}
